In [1]:
import pandas as pd

In [24]:
bigcommerce_2024= pd.read_csv(r"C:/Users/innoppl/OneDrive/Desktop/2024_Builtwith Downloads/TCS/All-Live-BigCommerce-Sites.csv", low_memory=False, header=1)
bigcommerce_2024

,Domain,Location on Site,Tech Spend USD,Sales Revenue USD,Social,Employees,Company,Vertical,Tranco,Page Rank,...,City,State,Zip,Country,First Detected,Last Found,First Indexed,Last Indexed,Exclusion,Compliance
0,1ink.com,1ink.com,$500,$45788,0.0,0.0,Paragon Solution Network,Business And Industrial,26194,10025133,...,Burbank,CA,91504,US,2015-10-12,2024-02-17,2002-11-23,2024-02-17,-,California CCPA
1,2bseeds.com,2bseeds.com,$500,$127288,0.0,0.0,2BSEEDS LLC,Food And Drink,367518,6553282,...,Broomfield,CO,80038,US,2017-01-17,2023-12-24,2005-03-22,2024-02-15,-,-
2,2inks.com,2inks.com,$100,$14296,0.0,0.0,2inks.com,Technology And Computing,Outside Top 1m,7439375,...,Woodland Hills,CA,91364,US,2019-02-24,2024-02-15,2005-11-25,2024-02-16,-,California CCPA
3,2sand.com,2sand.com,$500,$49599,500.0,0.0,2Sand.com LLC,Business And Industrial,188289,12799146,...,Reading,PA,19601,US,2019-03-21,2024-02-15,2008-07-03,2024-02-17,-,-
4,4into1.com,4into1.com,$100,$8776,1000.0,0.0,4into1 Inc,Automotive And Vehicles,142563,13929047,...,Hayward,CA,94545,US,2013-02-28,2024-02-15,2004-02-25,2024-02-16,-,California CCPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42284,trailocal.com,trailocal.com,$500,$52083,0.0,0.0,NaN,NaN,Outside Top 1m,Outside Top 100m,...,NaN,NaN,NaN,NaN,2023-07-09,2024-02-10,2022-11-07,2024-02-10,-,-
42285,trainingcenter911.com,trainingcenter911.com,$100,$17015,0.0,0.0,NaN,Business And Industrial,Outside Top 1m,87225619,...,Albuquerque,NM,87109,US,2018-10-27,2023-11-08,2013-02-28,2024-02-16,-,-
42286,trancoswag.com,trancoswag.com,$100,$7013,NaN,NaN,NaN,Style And Fashion,Outside Top 1m,Outside Top 100m,...,NaN,NaN,NaN,NaN,2020-09-04,2024-02-10,2020-03-09,2024-02-10,-,-
42287,traumed2020.com,traumed2020.com,$250,$30846,50.0,0.0,TrauMed Custom First Aid Kits,Health And Fitness,Outside Top 1m,26556245,...,Independence,OH,44131,US,2022-01-21,2024-02-09,2020-06-05,2024-02-10,-,-
42288,travelbag.com,travelbag.com,$100,$17015,0.0,0.0,Mascot Metropolitan Inc,Travel,Outside Top 1m,42076167,...,South San Francisco,CA,94080,US,2017-11-07,2024-02-10,2004-03-25,2024-02-10,-,California CCPA

In [28]:
bigcommerce_2024.groupby('Country').size()

Country
--     1
AE    30
AL     2
AO     1
AR    10
      ..
VN    79
VU     1
ZA    30
ZM     1
gb     7
Length: 105, dtype: int64

In [29]:
filtered_rows= pd.concat([magento_2_2024[magento_2_2024['Country'].isnull()],magento_2_2024[magento_2_2024['Country'].isin(['gb'])]])

In [45]:
uk_domains= bigcommerce_2024[bigcommerce_2024['Country'].isin(['GB', 'gb'])]
# filtered_suffix= bigcommerce_2024[bigcommerce_2024['Domain'].str.endswith(('.uk'))]
# filtered_suffix
filtered_columns.to_csv('D:/Bigcommerce UnitedKindgom.csv', index=False)

In [41]:
uk_domains

,Domain,Location on Site,Tech Spend USD,Sales Revenue USD,Social,Employees,Company,Vertical,Tranco,Page Rank,...,City,State,Zip,Country,First Detected,Last Found,First Indexed,Last Indexed,Exclusion,Compliance
228,victoriahealth.com,victoriahealth.com,$2000,$160617,20000.0,0.0,VictoriaHealth.Com Ltd,Food And Drink,81966,1381923,...,Borehamwood,ENG,WD6,GB,2020-11-14,2024-02-03,2006-12-31,2024-02-21,-,GDPR United Kingdom
324,focusrite.com,focusrite.com,$5000,$774116,50000.0,0.0,Focusrite,Art And Entertainment,15160,25864,...,Buckinghamshire,BKM,HP12,GB,2023-07-01,2024-02-17,2000-02-29,2024-02-21,-,GDPR United Kingdom
344,golfsupport.com,golfsupport.com,$1000,$104193,2000.0,0.0,Golfsupport,Style And Fashion,100817,1438757,...,Tetbury,ENG,GL8,GB,2024-01-12,2024-01-15,2000-02-29,2024-02-15,-,GDPR United Kingdom
392,wonderlandmodels.com,wonderlandmodels.com,$500,$173608,2000.0,0.0,wonderlandmodels,Automotive And Vehicles,101527,619393,...,City of Edinburgh,UK,EH3,GB,2022-04-07,2024-02-14,2000-08-18,2024-02-15,-,GDPR United Kingdom
437,artpause.com,artpause.com,$500,$46149,0.0,1.0,artPause Ltd,Art And Entertainment,Outside Top 1m,6550047,...,Shepperton,NaN,TW17,GB,2021-01-02,2024-02-19,2001-02-01,2024-02-21,-,GDPR United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42241,towp.com,towp.com,$100,$17015,NaN,NaN,NaN,NaN,Outside Top 1m,41441851,...,Greater London,UK,NW4,GB,2021-12-09,2024-02-09,2013-02-28,2024-02-09,-,GDPR United Kingdom
42247,toydogsoldiers.co.uk,toydogsoldiers.co.uk,$100,$6403,500.0,0.0,NaN,Pets,Outside Top 1m,Outside Top 100m,...,Beaconsfield,Buckinghamshire,HP9,GB,2020-09-17,2023-12-18,2020-08-18,2024-02-09,-,GDPR United Kingdom
42252,toyotaoriginal.com,toyotaoriginal.com,$250,$33192,NaN,NaN,NaN,Automotive And Vehicles,Outside Top 1m,55352834,...,Staffordshire,UK,ST9,GB,2016-11-22,2024-02-09,2016-11-15,2024-02-16,-,GDPR United Kingdom
42254,toyourhome.co.uk,toyourhome.co.uk,$500,$58064,50.0,10.0,To Your Home Ltd,Home And Garden,Outside Top 1m,16735537,...,Sheffield,ENG,S36,GB,2019-07-14,2024-02-15,2005-11-25,2024-02-21,-,GDPR United Kingdom
42266,toysntech.co.uk,toysntech.co.uk,$500,$48772,0.0,1.0,Toysntech,Shopping,Outside Top 1m,19121898,...,NaN,Cumbria,CA3,GB,2018-06-17,2024-02-09,2015-06-20,2024-02-21,-,GDPR United Kingdom

In [42]:
filtered_columns= uk_domains[['Domain','Location on Site', 'Vertical', 'Employees','Tranco', 'Page Rank',
       'Majestic', 'Umbrella','LinkedIn', 'City', 'State','Country','Last Indexed' ]]
filtered_columns

,Domain,Location on Site,Vertical,Employees,Tranco,Page Rank,Majestic,Umbrella,LinkedIn,City,State,Country,Last Indexed
228,victoriahealth.com,victoriahealth.com,Food And Drink,0.0,81966,1381923,203644,Outside Top 1m,NaN,Borehamwood,ENG,GB,2024-02-21
324,focusrite.com,focusrite.com,Art And Entertainment,0.0,15160,25864,25418,206148,NaN,Buckinghamshire,BKM,GB,2024-02-21
344,golfsupport.com,golfsupport.com,Style And Fashion,0.0,100817,1438757,270780,Outside Top 1m,NaN,Tetbury,ENG,GB,2024-02-15
392,wonderlandmodels.com,wonderlandmodels.com,Automotive And Vehicles,0.0,101527,619393,216792,Outside Top 1m,NaN,City of Edinburgh,UK,GB,2024-02-15
437,artpause.com,artpause.com,Art And Entertainment,1.0,Outside Top 1m,6550047,Outside Top 1m,Outside Top 1m,NaN,Shepperton,NaN,GB,2024-02-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42241,towp.com,towp.com,NaN,NaN,Outside Top 1m,41441851,Outside Top 1m,Outside Top 1m,NaN,Greater London,UK,GB,2024-02-09
42247,toydogsoldiers.co.uk,toydogsoldiers.co.uk,Pets,0.0,Outside Top 1m,Outside Top 100m,Outside Top 1m,Outside Top 1m,NaN,Beaconsfield,Buckinghamshire,GB,2024-02-09
42252,toyotaoriginal.com,toyotaoriginal.com,Automotive And Vehicles,NaN,Outside Top 1m,55352834,Outside Top 1m,Outside Top 1m,NaN,Staffordshire,UK,GB,2024-02-16
42254,toyourhome.co.uk,toyourhome.co.uk,Home And Garden,10.0,Outside Top 1m,16735537,Outside Top 1m,Outside Top 1m,NaN,Sheffield,ENG,GB,2024-02-21
42266,toysntech.co.uk,toysntech.co.uk,Shopping,1.0,Outside Top 1m,19121898,Outside Top 1m,Outside Top 1m,NaN,NaN,Cumbria,GB,2024-02-21

In [6]:
filtered_suffix= filtered_columns[filtered_columns['Domain'].str.endswith(('.net','.com','.us','.ca','.shop','org', 'gov','.co', '.app','.store' ,'.online'))]
filtered_suffix

,Domain,Location on Site,Vertical,Employees,Tranco,Page Rank,Majestic,Umbrella,LinkedIn,City,State,Country,Last Indexed
11,bebitalia.com,bebitalia.com,Business And Industrial,100.0,153614,567824,52194,Outside Top 1m,NaN,NaN,NaN,NaN,2024-03-04
35,brighterimagelab.com,m2dev.shop.brighterimagelab.com,Technology And Computing,0.0,50216,11686751,Outside Top 1m,Outside Top 1m,linkedin.com/company/brighter-image-lab,NaN,NaN,NaN,2024-03-03
49,ccnag.com,staging.cokestore.ccnag.com;cokestore.ccnag.com,Technology And Computing,NaN,Outside Top 1m,29688378,Outside Top 1m,153177,NaN,NaN,NaN,NaN,2024-03-05
55,chessbazaar.com,dev1.chessbazaar.com;staging.chessbazaar.com,Hobbies And Interests,0.0,205576,705696,956896,Outside Top 1m,NaN,NaN,NaN,NaN,2024-02-27
66,climatestore.com,climatestore.com,Business And Industrial,0.0,Outside Top 1m,2452960,Outside Top 1m,Outside Top 1m,NaN,NaN,NaN,NaN,2024-02-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38519,tonar-cosmetics.com,dr.tonar-cosmetics.com,Style And Fashion,0.0,Outside Top 1m,16710739,Outside Top 1m,Outside Top 1m,NaN,Mountain View,CA,US,2024-03-04
38528,tonerlasercartridge.ca,tonerlasercartridge.ca,Business And Industrial,0.0,Outside Top 1m,55767038,Outside Top 1m,Outside Top 1m,NaN,Scarborough,ON,CA,2024-03-04
38535,tonismarket.com,tonismarket.com,NaN,NaN,Outside Top 1m,Outside Top 100m,Outside Top 1m,Outside Top 1m,NaN,Miami,FL,US,2024-02-23
38552,toolmartsd.com,toolmartsd.com,Home And Garden,NaN,Outside Top 1m,Outside Top 100m,Outside Top 1m,Outside Top 1m,NaN,Vista,CA,US,2024-02-23
38575,toolweb.ca,toolweb.ca,NaN,NaN,Outside Top 1m,22060939,Outside Top 1m,Outside Top 1m,NaN,Boucherville,QC,CA,2024-02-29

In [7]:
tech=pd.read_csv(r"C:/Users/innoppl/Downloads/mageto 2 techstak (1).csv")

In [14]:
# tech.rename(columns={'URL':'Domain'}, inplace=True)
tech=tech[['Domain','Techstack','final_version']]
tech

                        Domain                  Techstack final_version
0           imperialdigits.com                    Magento     Magento 2
1            gigabytegoods.com                    Magento     Magento 2
2      giftproductsandmore.com                    Magento     Magento 2
3               scanpaygo.shop                    Magento     Magento 2
4               scalerecom.com  No Ecommerce / No website           NaN
...                        ...                        ...           ...
31567           greenpeace.org  No Ecommerce / No website           NaN
31568                 nike.com  No Ecommerce / No website           NaN
31569   nationalgeographic.com  No Ecommerce / No website           NaN
31570                cisco.com            Other Ecommerce           NaN
31571                 etsy.com            Other Ecommerce           NaN

[31572 rows x 3 columns]

In [22]:
final_2=pd.merge(filtered_suffix, tech, on ='Domain', how='left')
final_2.to_csv('D:/magento_2_4_5.csv', index=False)

In [43]:
filtered_columns

filtered_columns['Page Rank'] = filtered_columns['Page Rank'].replace('Outside Top 100m', 100000000)

# Convert the entire column to integer type
filtered_columns['Page Rank'] = filtered_columns['Page Rank'].astype('int64')

C:\Users\innoppl\AppData\Local\Temp\ipykernel_68944\3272086961.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_columns['Page Rank'] = filtered_columns['Page Rank'].replace('Outside Top 100m', 100000000)
C:\Users\innoppl\AppData\Local\Temp\ipykernel_68944\3272086961.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_columns['Page Rank'] = filtered_columns['Page Rank'].astype('int64')

In [44]:
filtered_columns.sort_values('Page Rank', ascending=True)

,Domain,Location on Site,Vertical,Employees,Tranco,Page Rank,Majestic,Umbrella,LinkedIn,City,State,Country,Last Indexed
2610,ordnancesurvey.co.uk,shop.ordnancesurvey.co.uk,Business And Industrial,0.0,103723,6008,10468,209767,linkedin.com/company/ordnance-survey,Nursling,ENG,GB,2024-02-21
6210,square-enix-games.com,na.store.square-enix-games.com;au.store.square...,Art And Entertainment,0.0,467424,10705,9594,30376,NaN,London Bridge,ENG,GB,2024-02-21
1147,tottenhamhotspur.com,shop.tottenhamhotspur.com,Business And Industrial,0.0,22608,11094,11270,127729,NaN,Waltham Forest,ENG,GB,2024-02-17
811,raspberrypi.com,raspberrypi.com,Art And Entertainment,10.0,338084,15873,252512,Outside Top 1m,linkedin.com/company/raspberrypi,Cambridge,CAM,GB,2024-02-17
3089,napier.ac.uk,my.napier.ac.uk;onlineshop.napier.ac.uk,Education,1000.0,136725,18138,13076,196031,NaN,Edinburgh,SCT,GB,2024-02-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12407,hackett-interiors.co.uk,hackett-interiors.co.uk,Home And Garden,NaN,Outside Top 1m,100000000,Outside Top 1m,Outside Top 1m,NaN,NaN,Greater London,GB,2024-02-07
9276,findlovelygift.uk,findlovelygift.uk,Shopping,0.0,Outside Top 1m,100000000,Outside Top 1m,Outside Top 1m,NaN,Kempston,ENG,GB,2024-02-05
38227,klughairlounge.co.uk,klughairlounge.co.uk,Style And Fashion,0.0,Outside Top 1m,100000000,Outside Top 1m,Outside Top 1m,NaN,Grantham,ENG,GB,2024-02-09
38714,orbist.co.uk,orbist.co.uk,Technology And Computing,1.0,Outside Top 1m,100000000,Outside Top 1m,Outside Top 1m,NaN,Combe Down,ENG,GB,2024-02-21
32279,wetwallsuperstore.co.uk,wetwallsuperstore.co.uk,Home And Garden,NaN,Outside Top 1m,100000000,Outside Top 1m,Outside Top 1m,NaN,Greenock,Renfrewshire,GB,2024-02-16